@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;900&display=swap');
:root {
  --primary: #5b0909;
  --secondary: #fbf6b9;
  --color-text: #7a7a7a;
  --color-accent: #61ce70;
  --e-global-color-eb4dee5: #ab9979;
  --icon-size: 14px;
  --items-spacing: 15px;
  --icon-color: #5b0909;
  --icon-hover-color: #5b0909;
  --background-color: rgba(218, 222, 228, 0.5);
  --background-hover-color: rgba(218, 222, 228, 0.7);
}

/* color palette from <https://github.com/vuejs/theme> */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Jost';
  padding: 0;
}
